.root {
    -fx-font-family: "Segoe UI", Helvetica, sans-serif;
    -fx-font-size: 14px;
}

.form-container {
    -fx-background-color: white;
    -fx-alignment: TOP_CENTER;
}

.form-title {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.form-label {
    -fx-text-fill: #7f8c8d;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.form-field, .date-picker > .text-field, .combo-box-base {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 5;
    -fx-font-weight: normal;
}

.combo-box-base > .label:empty,
.combo-box-base .list-cell:empty {
    -fx-text-fill: #95a5a6;
}

.combo-box-base > .label,
.combo-box-base .list-cell {
    -fx-background-color: transparent;
    -fx-font-weight: normal;
    -fx-text-fill: #2c3e50;
}

.form-field-money {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #27ae60;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.form-area {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.btn-icon-secondary {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #7f8c8d;
    -fx-font-weight: bold;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 4;
    -fx-cursor: hand;
    -fx-min-width: 35px;
}
.btn-icon-secondary:hover {
    -fx-background-color: #bdc3c7;
    -fx-text-fill: white;
}

.btn-save {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 4;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}
.btn-save:hover {
    -fx-background-color: #219150;
}

.btn-cancel {
    -fx-background-color: transparent;
    -fx-text-fill: #e74c3c;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btn-cancel:hover {
    -fx-underline: true;
}

/* Efecto Hover en las opciones del ComboBox */
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover {
    -fx-background-color: #f0f3f4;
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #ecf0f1;
    -fx-font-weight: bold;
}