.top-bar {
    -fx-background-color: #2c3e50;
}

.header-title {
    -fx-text-fill: #e8e1e1;
}

.button {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 14;
    -fx-cursor: hand;
}

.btn-importar {
    -fx-background-color: #2ecc71;
}

.btn-notificaciones {
    -fx-background-color: #e74c3c;
}

.center-title {
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.center-subtitle {
    -fx-font-size: 16;
    -fx-text-fill: #7f8c8d;
    -fx-padding: 5 0 40 0;
}

.card-personal {
    -fx-background-color: #e8f5e9;
    -fx-border-color: #4caf50;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.card-title-personal {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-text-fill: #1b5e20;
}

.card-text-personal {
    -fx-text-fill: #388e3c;
    -fx-padding: 0 0 20 0;
}

.btn-personal {
    -fx-background-color: #4caf50;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.card-compartida {
    -fx-background-color: #fce4ec;
    -fx-border-color: #e91e63;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.card-title-compartida {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-text-fill: #880e4f;
}

.card-text-compartida {
    -fx-text-fill: #c2185b;
    -fx-padding: 0 0 20 0;
}

.btn-compartida {
    -fx-background-color: #e91e63;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}


.contenedor-principal {
    -fx-background-color: #f4f4f4;
    -fx-padding: 20;
    -fx-alignment: CENTER;
}
